body{
    margin: 5% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Helvetica, sans-serif;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 25%;
    margin-bottom: 10%;
}
.button{
    padding: 0.5rem;
    background-color: white;
    color: #457058;
    border: 1px solid #45705880;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.button:hover{
    color: #304257;
    background-color: yellowgreen;
    border:1px solid yellowgreen;
}
.full-width-button{
    width: 100%;
}
#stakeholders_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stakeholder{
    border: 1px solid #457058;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stakeholder thead{
    padding: 1rem;
    background-color: #457058;
    color: white;
}
.stakeholder td{
    padding: 0.5em;
}
.stakeholder_form{
    border: 1px solid #457058;
    padding: 0.5rem;
}
.stakeholder_form .input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.submit_changes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stakeholder_form input{
    padding: 0.5rem;
}
main{
    margin-top: 10%;
}
h1, .highlight{
    font-weight: bold;
    color: #304257;
}
h1{
    text-align: center;
}
#values-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #457058;
}
#values-table thead{
    padding: 1rem;
    background-color: #457058;
    color: white;
}
#values-table th,#values-table td{
    padding: 1rem;
    border: 1px solid #45705880;
}
#values-table th{
    text-align: start;
}
#values-table td{
    text-align: end;
}
.hidden{
    display: none;
}